*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 40px;
    background-color: black;

}
.loader{
    position: relative;
    -webkit-box-reflect: below 1px linear-gradient(transparent,rgb(228, 74, 74));
}
.loader::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 3px;
    background: cyan;
    animation: blinkCursor 0.7s 0.3s steps(3) infinite;
}

    @keyframes blinkCursor{
        0%,75%
        {
            opacity: 1;
        }
        76%,100%{
            opacity: 0;
        }
    }
    

.loader h2{
    color: cyan;
    text-transform: uppercase;
    position: relative; 
    letter-spacing: 20px;
    animation: typing 8s steps(10) infinite;
    overflow: hidden;
   
}
@keyframes typing{
    0%,90%,100%{
        width: 0px;
    }
   
    30%,60%{
        width: 531.7px;
    }
}
h2:hover{
    color: darkorange;
}